/.git
/.github
/.idea
/.vscode
/coverage
/node_modules
/src
.gitignore
.gitlab-ci.yml
.eslintignore
.eslintrc.json
.release-it.json
globalConfig.json
jest.config.js
jest-mongodb-config.js
tsconfig.json
.huskyrc.json
.lintstagedrc.json
tsconfig-build.json
